/* ESTRUTURA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* NAV-BAR */

nav {
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: #D9D9D9;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    margin-left: 20px;  /*tentando colocar tudo para direita e menu para esquerda*/
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
}

li a {
    text-decoration: none;
    color: blue;
}

/* CONTEUDO */

main {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 40px;
    z-index: -1;
}

.carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    width: 320px;
    height: 200px;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.banner {
    object-fit: cover;
    width: 320px;
    height: 200px;
}

#itens {}

.imgs-itens {
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

/* RODAPE */

footer {
    height: 200px;
    background-color: green;
}

.footer-img {
    float: left;
}

.contato p {
    font-size: 15px;
    color: #ACEFAC;
}

.copy {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    font-weight: bold;
}

/* FORMULÁRIO LOGIN */

/* FORMULÁRIO CADASTRO */

/* PRODUTO */

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-sizing: border-box;
    width: 85vw;
    border-collapse: collapse;
    font-size: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #343a40;
    line-height: 1;
}

th, td {
    padding: 16px 25px;
    text-align: center;
}

th {
    background-color: #2F6427;
    color: #ACEFAC;
    width: 25%;
}

tbody tr:nth-child(odd) {
    background-color: #B2CBB2;
}

tbody tr:nth-child(even) {
    background-color: #739E73;
}
#contato h3 {
    font-weight: bold;
    color: white;
}