/* ESTRUTURA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* NAV-BAR */
nav {
    width: 100vw;
    height: 60px;
    background-color: #D9D9D9;
    z-index: 1;
}

ul {
    list-style-type: none;
}

#dropdown {
    position: relative;
    display: flex;
    background-color: red;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
}

#dropdown-button {
    background-color: #D9D9D9;
}

.dropdown-content {
    display: none;
    background-color: green;
    color: white;
    width: 150px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: blue;
}

/* CONTEUDO */
main {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 40px;
    z-index: -1;
}

.carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    width: 320px;
    height: 200px;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
.banner {
    object-fit: cover;
    width: 320px;
    height: 200px;
}

#itens {

}
.imgs-itens{
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

/* RODAPE */
footer {
    height: 200px;
    background-color: green;
}
.footer-img {
    float: left;
}
.contato p{
    font-size: 15px;
}
.copy {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

/* FORMULÁRIO LOGIN */
#login_title{
    width: 50px;
}

/* FORMULÁRIO CADASTRO */
#link_login {
    text-decoration: underline;
    color: #ACEFAC !important;
}
.title {
    border-radius: 25px 25px 0 0;
    background-color: #739E73;
    text-align: center;
}

form {
    border-radius: 0 0 25px 25px;
    background-color: #739E73;
    text-align: center;
}

input {
    border-radius: 30px;
    background-color: #CACACA;
    width: 220px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    font-size: 12px;
    border: none;
    margin-top: 3px;
}

#submit input {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: #ACEFAC;
    background-color: #2F6427;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

h5 {
    float: left;
    margin-left: 20px;
}

.user {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
}
