/* ESTRUTURA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*FONTES*/
.inter {
    font-family: "Inter", sans-serif;   /* declarar esta fonte */
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

/* NAV-BAR */
nav {
    display: flex;
    justify-content: space-between; /* espaça os itens para os extremos */
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: #2F6427;
    padding: 0 20px; /* adiciona um pouco de espaço nas laterais */
}

#btn-dropdown {
    background-color: green;
    border: none;
    width: min-content;
    padding: 0; /* remove padding ao redor do botão */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* sombra ao redor do botão */
}

#btn-dropdown img {
    margin: 0; /* remove margens ao redor da imagem */
    padding: 0; /* remove padding ao redor da imagem */
}

#logo {
    margin: 0; /* remove margens extras */
}

#logo img {
    max-width: 100%;
    height: auto;
}

.dropdown-menu {    /* o display do menu navbar */
    transition: margin-top 0.3s ease, transform 0.3s ease; /* animação suave */
    position: absolute; /* garante que a ul fica acima do conteúdo */
    top: 100%; /* move a ul para logo abaixo do botão */
    left: 0; /* alinhar à esquerda */
    border-radius: 0 0 15px 0 !important;
    margin-top: 7px !important; /* Movido para baixo */
    margin-left: -25px !important;  /* Arrastando para esquerda */
    background-color: #739E73 !important;  /* Cor de fundo definido como important pois se nao recebe do bootstrap*/
}

ul {
    list-style-type: none;
    padding: 0; /* remove padding do ul */
    margin: 0; /* remove margin do ul */
}

li {    /* onde vai modificar ao "redor" das letras/navegação */
    text-align: center;
    background-color: #91bf91;
    margin: 8px auto; /* Adiciona margem vertical para evitar que os fundos se encontrem */
    border-radius: 18px;
    width: 120px;
    height: min-content;
}

li a {  /* onde vai modificar as letras/navegação */
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding-top: 10px;
}
#account{
    margin-left: 35px;
}
.account{
    display: inline-block;
    width: min-content;
    margin-left: 10px;
    background-color: transparent;  /* Remove o fundo */
    font-family: "Inter", sans-serif;
    font-size: 11px;
    font-weight: 500;
}
#login{
    color: #38C938;
}
#logout{
    color: #C41212;
}

/*VOLTAR PARA PAGINA INICIAL*/
aside {
    width: 100vw; /* Largura total da tela */
    margin-right: 0; /* Remove margem direita */
    position: relative; /* Necessário para o posicionamento absoluto da imagem */
}

aside img {
    position: absolute; /* Permite o posicionamento exato */
    margin-top: 3px;
    margin-right: 5px;
    right: 0; /* Alinha a imagem à direita do aside */
    top: 50%; /* Alinha a imagem verticalmente ao centro do aside */
    z-index: 10; /* Garante que a imagem fique na frente de outros elementos, exceto o menu de navegação */
}

/* CONTEUDO */

main {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 40px;
    z-index: -1;
}

.carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    width: 320px;
    height: 200px;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.banner {
    object-fit: cover;
    width: 320px;
    height: 200px;
}

#itens {}

.imgs-itens {
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

/* RODAPE */

footer {
    height: 200px;
    background-color: green;
}

.footer-img {
    float: left;
}

.contato p {
    font-size: 15px;
    color: #ACEFAC;
}

.copy {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    font-weight: bold;
}

/* FORMULÁRIO LOGIN */

/* FORMULÁRIO CADASTRO */

/* PRODUTO */

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-sizing: border-box;
    width: 85vw;
    border-collapse: collapse;
    font-size: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #343a40;
    line-height: 1;
}

th, td {
    padding: 16px 25px;
    text-align: center;
}

th {
    background-color: #2F6427;
    color: #ACEFAC;
    width: 25%;
}

tbody tr:nth-child(odd) {
    background-color: #B2CBB2;
}

tbody tr:nth-child(even) {
    background-color: #739E73;
}
#contato h3 {
    font-weight: bold;
    color: white;
}